-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: rail
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `BookingID` int NOT NULL AUTO_INCREMENT,
  `PassengerID` int DEFAULT NULL,
  `TrainID` int DEFAULT NULL,
  `ScheduleID` int DEFAULT NULL,
  `BookingDate` datetime DEFAULT NULL,
  `JourneyDate` datetime DEFAULT NULL,
  `SourceStationID` int DEFAULT NULL,
  `DestinationStationID` int DEFAULT NULL,
  `ClassID` int DEFAULT NULL,
  `CouchID` int DEFAULT NULL,
  `SeatID` int DEFAULT NULL,
  `BookingStatus` enum('cnf','wl','rac','cancelled') DEFAULT NULL,
  `QuotaType` varchar(50) DEFAULT NULL,
  `IsCancelled` tinyint(1) DEFAULT NULL,
  `CancelledDate` datetime DEFAULT NULL,
  `RefundAmount` decimal(10,0) DEFAULT NULL,
  PRIMARY KEY (`BookingID`),
  KEY `PassengerID` (`PassengerID`),
  KEY `TrainID` (`TrainID`),
  KEY `ScheduleID` (`ScheduleID`),
  KEY `SourceStationID` (`SourceStationID`),
  KEY `DestinationStationID` (`DestinationStationID`),
  KEY `ClassID` (`ClassID`),
  KEY `CouchID` (`CouchID`),
  CONSTRAINT `booking_ibfk_1` FOREIGN KEY (`PassengerID`) REFERENCES `passenger` (`PassengerID`),
  CONSTRAINT `booking_ibfk_2` FOREIGN KEY (`TrainID`) REFERENCES `train` (`TrainID`),
  CONSTRAINT `booking_ibfk_3` FOREIGN KEY (`ScheduleID`) REFERENCES `schedule` (`ScheduleID`),
  CONSTRAINT `booking_ibfk_4` FOREIGN KEY (`SourceStationID`) REFERENCES `station` (`StationID`),
  CONSTRAINT `booking_ibfk_5` FOREIGN KEY (`DestinationStationID`) REFERENCES `station` (`StationID`),
  CONSTRAINT `booking_ibfk_6` FOREIGN KEY (`ClassID`) REFERENCES `class` (`ClassID`),
  CONSTRAINT `booking_ibfk_7` FOREIGN KEY (`CouchID`) REFERENCES `coach` (`CoachID`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookingstatus`
--

DROP TABLE IF EXISTS `bookingstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookingstatus` (
  `StatusID` int NOT NULL,
  `StatusCode` varchar(20) DEFAULT NULL,
  `StatusName` varchar(50) DEFAULT NULL,
  `IsFinalStatus` tinyint(1) DEFAULT NULL,
  `IsRefundEligible` tinyint(1) DEFAULT NULL,
  `AllowsBoarding` tinyint(1) DEFAULT NULL,
  `CreatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`StatusID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookingstatus`
--

LOCK TABLES `bookingstatus` WRITE;
/*!40000 ALTER TABLE `bookingstatus` DISABLE KEYS */;
INSERT INTO `bookingstatus` VALUES (1,'CNF','Confirmed',1,1,1,'2025-04-14 10:00:00'),(2,'WL','Waitlisted',0,1,0,'2025-04-14 10:15:00'),(3,'RAC','Reservation Against Cancellation',0,1,1,'2025-04-14 10:30:00'),(4,'CAN','Cancelled',1,1,0,'2025-04-14 10:45:00');
/*!40000 ALTER TABLE `bookingstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class`
--

DROP TABLE IF EXISTS `class`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class` (
  `ClassID` int NOT NULL,
  `ClassCode` varchar(10) DEFAULT NULL,
  `ClassName` varchar(50) DEFAULT NULL,
  `IsReserved` tinyint(1) DEFAULT NULL,
  `FarePerKM` decimal(10,0) DEFAULT NULL,
  `MaxCapacity` int DEFAULT NULL,
  PRIMARY KEY (`ClassID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class`
--

LOCK TABLES `class` WRITE;
/*!40000 ALTER TABLE `class` DISABLE KEYS */;
INSERT INTO `class` VALUES (1,'SL','Sleeper Class',1,12,1000),(2,'3A','Third AC',1,15,500),(3,'2A','Second AC',1,17,400),(4,'1A','First AC',1,20,200),(5,'GN','General Class',0,11,1200);
/*!40000 ALTER TABLE `class` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coach`
--

DROP TABLE IF EXISTS `coach`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coach` (
  `CoachID` int NOT NULL,
  `TrainID` int DEFAULT NULL,
  `CouchNumber` varchar(10) DEFAULT NULL,
  `CouchType` enum('Sleeper','AC First','AC Second','AC Third','Chair car','General','Luggage') DEFAULT NULL,
  `ClassID` int DEFAULT NULL,
  `TotalSeats` int DEFAULT NULL,
  `IsReserved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`CoachID`),
  KEY `TrainID` (`TrainID`),
  KEY `ClassID` (`ClassID`),
  CONSTRAINT `coach_ibfk_1` FOREIGN KEY (`TrainID`) REFERENCES `train` (`TrainID`),
  CONSTRAINT `coach_ibfk_2` FOREIGN KEY (`ClassID`) REFERENCES `class` (`ClassID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coach`
--

LOCK TABLES `coach` WRITE;
/*!40000 ALTER TABLE `coach` DISABLE KEYS */;
/*!40000 ALTER TABLE `coach` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passenger`
--

DROP TABLE IF EXISTS `passenger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passenger` (
  `PassengerID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) DEFAULT NULL,
  `Age` int DEFAULT NULL,
  `Gender` enum('male','female','other') DEFAULT NULL,
  `Email` varchar(100) DEFAULT NULL,
  `Phone` varchar(15) DEFAULT NULL,
  `Nationality` varchar(50) DEFAULT NULL,
  `PassengerType` enum('Adult','child','senior citizen','student') DEFAULT NULL,
  `DisabilityStatus` enum('Yes','No') DEFAULT NULL,
  PRIMARY KEY (`PassengerID`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passenger`
--

LOCK TABLES `passenger` WRITE;
/*!40000 ALTER TABLE `passenger` DISABLE KEYS */;
/*!40000 ALTER TABLE `passenger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `route`
--

DROP TABLE IF EXISTS `route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `route` (
  `RouteID` int NOT NULL,
  `TrainID` int DEFAULT NULL,
  `StationID` int DEFAULT NULL,
  `SequenceNumber` int DEFAULT NULL,
  `ArrivalTime` time DEFAULT NULL,
  `DepartureTime` time DEFAULT NULL,
  `HaltTime` int DEFAULT NULL,
  `DistanceFromSource` decimal(10,0) DEFAULT NULL,
  `PlatformNumber` int DEFAULT NULL,
  `IsSource` tinyint(1) DEFAULT NULL,
  `IsDestination` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`RouteID`),
  KEY `TrainID` (`TrainID`),
  KEY `StationID` (`StationID`),
  CONSTRAINT `route_ibfk_1` FOREIGN KEY (`TrainID`) REFERENCES `train` (`TrainID`),
  CONSTRAINT `route_ibfk_2` FOREIGN KEY (`StationID`) REFERENCES `station` (`StationID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `route`
--

LOCK TABLES `route` WRITE;
/*!40000 ALTER TABLE `route` DISABLE KEYS */;
/*!40000 ALTER TABLE `route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule`
--

DROP TABLE IF EXISTS `schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule` (
  `ScheduleID` int NOT NULL,
  `TrainID` int DEFAULT NULL,
  `DaysOfOperation` varchar(50) DEFAULT NULL,
  `FrequencyType` enum('Daily','Weekly','BiWeekly','Special') DEFAULT NULL,
  `DepartureStationID` int DEFAULT NULL,
  `ArrivalStationID` int DEFAULT NULL,
  `DepartureTime` time DEFAULT NULL,
  `ArrivalTime` time DEFAULT NULL,
  `JourneyDuration` varchar(20) DEFAULT NULL,
  `RouteID` int DEFAULT NULL,
  PRIMARY KEY (`ScheduleID`),
  KEY `TrainID` (`TrainID`),
  KEY `DepartureStationID` (`DepartureStationID`),
  KEY `ArrivalStationID` (`ArrivalStationID`),
  KEY `RouteID` (`RouteID`),
  CONSTRAINT `schedule_ibfk_1` FOREIGN KEY (`TrainID`) REFERENCES `train` (`TrainID`),
  CONSTRAINT `schedule_ibfk_2` FOREIGN KEY (`DepartureStationID`) REFERENCES `station` (`StationID`),
  CONSTRAINT `schedule_ibfk_3` FOREIGN KEY (`ArrivalStationID`) REFERENCES `station` (`StationID`),
  CONSTRAINT `schedule_ibfk_4` FOREIGN KEY (`RouteID`) REFERENCES `route` (`RouteID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule`
--

LOCK TABLES `schedule` WRITE;
/*!40000 ALTER TABLE `schedule` DISABLE KEYS */;
INSERT INTO `schedule` VALUES (1,12302,'Mon,Tue,Wed,Thu,Fri,Sat,Sun','Daily',51,57,'16:55:00','10:00:00','16.083 hours',1),(2,12763,'Mon,Tue,Wed,Thu,Fri,Sat,Sun','Daily',1,28,'06:00:00','16:00:00','10 hours',10),(3,12791,'Mon,Tue,Wed,Thu,Fri,Sat,Sun','Daily',1,27,'06:00:00','23:30:00','17.5 hours',32);
/*!40000 ALTER TABLE `schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat`
--

DROP TABLE IF EXISTS `seat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seat` (
  `SeatID` int NOT NULL,
  `CoachID` int NOT NULL,
  `SeatNumber` varchar(10) DEFAULT NULL,
  `ClassID` int DEFAULT NULL,
  `IsAvailable` tinyint(1) DEFAULT NULL,
  `BookingID` int DEFAULT NULL,
  `SeatType` enum('Lower','Middle','Upper','Side Lower','Side Upper') DEFAULT NULL,
  `Position` enum('Window','Middle','Aisle') DEFAULT NULL,
  `IsReserved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`SeatID`,`CoachID`),
  KEY `CoachID` (`CoachID`),
  KEY `ClassID` (`ClassID`),
  KEY `BookingID` (`BookingID`),
  CONSTRAINT `seat_ibfk_1` FOREIGN KEY (`CoachID`) REFERENCES `coach` (`CoachID`),
  CONSTRAINT `seat_ibfk_2` FOREIGN KEY (`ClassID`) REFERENCES `class` (`ClassID`),
  CONSTRAINT `seat_ibfk_3` FOREIGN KEY (`BookingID`) REFERENCES `booking` (`BookingID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seat`
--

LOCK TABLES `seat` WRITE;
/*!40000 ALTER TABLE `seat` DISABLE KEYS */;
/*!40000 ALTER TABLE `seat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `station`
--

DROP TABLE IF EXISTS `station`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `station` (
  `StationID` int NOT NULL,
  `StationCode` varchar(10) DEFAULT NULL,
  `StationName` varchar(100) DEFAULT NULL,
  `City` varchar(100) DEFAULT NULL,
  `State` varchar(100) DEFAULT NULL,
  `ContactNumber` varchar(15) DEFAULT NULL,
  `NearbyBusStand` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`StationID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `station`
--

LOCK TABLES `station` WRITE;
/*!40000 ALTER TABLE `station` DISABLE KEYS */;
/*!40000 ALTER TABLE `station` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `train`
--

DROP TABLE IF EXISTS `train`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `train` (
  `TrainID` int NOT NULL,
  `TrainName` varchar(100) DEFAULT NULL,
  `TrainType` enum('Express','Superfast','Shatabdi','Passenger','Local') DEFAULT NULL,
  `SourceStationID` varchar(10) DEFAULT NULL,
  `DestinationStationID` varchar(10) DEFAULT NULL,
  `TotalCoach` int DEFAULT NULL,
  `TotalSeats` int DEFAULT NULL,
  `DaysOfOperation` varchar(50) DEFAULT NULL,
  `StartTime` time DEFAULT NULL,
  `EndTime` time DEFAULT NULL,
  PRIMARY KEY (`TrainID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `train`
--

LOCK TABLES `train` WRITE;
/*!40000 ALTER TABLE `train` DISABLE KEYS */;
INSERT INTO `train` VALUES (12302,'Kolkata Rajdhani Express','Shatabdi','NDLS','HWH',18,1080,'Mon,Tue,Wed,Thu,Fri,Sat,Sun','16:55:00','10:00:00'),(12763,'Padmavati Express','Express','SC','TPTY',18,1080,'Mon,Tue,Wed,Thu,Fri,Sat,Sun','18:30:00','05:00:00'),(12791,'SecunderabadΓÇôDanapur Superfast Express','Superfast','SC','DNR',18,1080,'Mon,Tue,Wed,Thu,Fri,Sat,Sun','09:25:00','18:00:00');
/*!40000 ALTER TABLE `train` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-23 21:33:22
